@inherits LayoutComponentBase

<PageTitle>SampleBlazorApp</PageTitle>

<NavMenu />

<div class="container body-content">
    @Body
    <hr />
</div>

<!-- FOOTER A PANTALLA COMPLETA -->
<footer class="footer-global py-3 text-center text-white">
    <p class="mb-0">© 2025 Instituto Tecnológico Metropolitano | Todos los derechos reservados</p>
</footer>
